* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
	background-image: url('http://kupika.com/oekaki/2008/03/19/vvracooesn.jpg');
}

p, ul, ol {
	margin: 10px;
}

.wrapper {
	width: 800px;
    height: 100%;
    margin: 0 auto -200px;
	background: #96f;

}

header {
	background: #30F;
	height: 50px;

}

footer {
	background-image: url('http://1.bp.blogspot.com/-J9doxBX-B5I/TcsaWYsCLFI/AAAAAAAAAgE/8IpS4nTpqGM/s1600/rainy_day-doodles.jpg');
	height: 120px;
}




footer div {
	float: left;
	width:25%;
	height: 80px;
	background: blue;
}

footer div.green {
	background: green;
}

img {
	position: absolute;
	bottom: 0;
}


body { 
	background-image: url('../images/sad-clown-with-polka-dots-patricia-arroyo.jpg');
	
}

.listheaders {
	font-size: 20px;
}

.wrapper {
	width: 50%;
	height: auto;
	background-color: white;
	margin: 0 auto;

}

#images {
	margin: 50px;
}


.lists {
	width: 50%;
	height: auto;
	background-color: red;
	margin: 0 auto;
	color: white;

}

.boxes {
	width: 10%;
	height: 130px;
	margin: 85px;
	float: left;
	background: white;
}

#bluebox {
	width: 10%;
	height: 130px;
	margin: 85px;
	float: left;
	background: blue;
}


#bluebox {
	width: 10%;
	height: 130px;
	margin: 85px;
	float: left;
	background: blue;
}

#greenbox {
	width: 10%;
	height: 130px;
	margin: 85px;
	float: left;
	background: green;
}

header { font-size:40px;
}

