body { 
	background-image: url('../images/wall-pops-way-cool-blue-dot-2.jpg');	
}


.wrapper {
	width: 600px;
	height: auto;
 	margin: 40px;
}

header {font-size:40px;
		color: yellow;
}

.listheaders {
	font-size: 20px;
}