html, body {
    height: 100%;
}



body
{
	margin:20px;
}

header {
	font-size:40px;
	width:700px;
	background-color:#c5e9b4; 
	text-align: center;
	border: 20px;


}

tr {
	width:200px;
	height:100px;
	background-color: #007fff;
}

td.greenbox {
	background-color:#c5e9b4;
}

#happy {
	width:200px;
}